/* Global Properties */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

.nodecor:hover {
  text-decoration: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  font-family: "Open Sans", serif;
}

.container-fluid {
  padding: 0 !important;
}

.section_heading {
  font-size: 2.5rem;
  color: #3a3f41;
  text-decoration: none;
  border-bottom: 3px solid #3a3f41;
}

/* Removes rounded edges*/
* {
  border-radius: 0 !important;
}

.text-secondary {
  font-size: 0.95rem;
}

.text-white-50 {
  font-size: 0.9rem;
}

.text {
  font-size: 0.9rem;
}

.anchor {
  display: block;
  height: 55px;
  margin-top: -55px;
  visibility: hidden;
}

#chevron-arrow-right {
  display: inline-block;
  border-right: 4px solid #3d6671;
  border-bottom: 4px solid #3d6671 ;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}

/* ------------------------------------------------------------------------- */
/* loading */
#loading {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/img/loader.svg);
  background-color: rgb(255, 255, 255);
  transition: background-color 1s ease-out;
}

#loaded {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(219, 219, 219, 0);
  transition: background-color 1s ease-out;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* ------------------------------------------------------------------------- */
/* Navbar */

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(59, 59, 59);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header_link {
  padding: 15px;
  color: #dddddd;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.selected {
  border-bottom: 3px solid#bb8535;
  color: #bb8535;
}

/* ------------------------------------------------------------------------- */
/* Home */

.main-container {
  font-family: "Open Sans", serif;
  font-weight: 400;
  background: -webkit-linear-gradient(
      rgba(26, 25, 25, 0.1),
      rgba(77, 77, 77, 0.6)
    ),
    url(./assets/img/landing.jpg) no-repeat top center;
  background-size: cover;
}

/* Heading Container */
.secondary-container {
  font-family: "Open Sans", serif;
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Changing Heading Font Size */
.main_row h1 {
  font-size: 4rem;
  letter-spacing: 0.05em;
}

hr {
  border-color: #818185a8;
}

/* Blinking animation */
.blink {
  animation: blinker 1.4s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.secondary-container ul {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.secondary-container ul a {
  color: #fff;
}

.secondary-container ul a:hover {
  color: #9c9c9c;
}

/* ------------------------------------------------------------------------- */
/* About */

.name_heading {
  color: #615f5d;
}

.in_touch {
  color: #3d6671;
  text-decoration: none;
}

.in_touch:hover {
  color: #3d6671;
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/* Skills */

ul,
li {
  list-style: none !important;
}

.skill-container {
  background: #f3f3f3;
}

/* .skill-fade:hover > .card-deck .card:hover .card-title {
  color: #8a8a8aa8;
} */

/* .skill-fade {
  visibility: hidden;
}

.skill-fade > .card-deck .card {
  visibility: visible;
}

.skill-fade > .card-deck .card {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.skill-fade:hover > .card-deck .card {
  opacity: 0.4;
  transform: scale(0.95);
}

.skill-fade > .card-deck .card:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.skill-fade > .card-deck .card {
  background: white;
} */

/* ------------------------------------------------------------------------- */
/* Projects */

.btn {
  font-size: 15px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.img-top{
  cursor: pointer;
}

.card-img-top {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.img-top img {
  display: block;
  transition: 0.3s ease-in-out;
}

.img-top:hover img {
  transform: scale(1.3);
}

.modal-body {
  padding: 1px !important;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.small-text {
  font-size: 0.75rem;
}

/* Fade in the currently hovered item */
.project-shadow > .card-deck .card:hover {
  box-shadow: 0 0 2px rgba(33, 33, 33, 0.2);
}

.project-shadow:hover > .card-deck .card:hover .card-title {
  color: #359cbb;
}

/*---------------------------------------------------------*/

.v_styling {
  border-top: 70px solid #fff;
  border-left: 50vw solid #2b2b2b;
  border-right: 50vw solid #2b2b2b;
}

/* ------------------------------------------------------------------------- */
/* Contact */

.contact-container {
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_heading {
  font-size: 2.5rem;
  color: #d3d3d3;
  text-decoration: none;
  border-bottom: 3px solid #d3d3d3;
}

.contact_sub {
  color: #d3d3d3;
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */
/* Footer */

.footer {
  background: #000000;
  border-top: 3px solid #4d4f50;
  z-index: 1;
}

.fa-arrow-circle-up {
  font-size: 40px;
  color: #8a8a8aa8;
}

.fa-arrow-circle-up:hover {
  color: #dadada;
}

.fa-github-square {
  padding: 0;
  font-size: 40px;
  color: #8a8a8aa8;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.fa-dev {
  padding: 0;
  font-size: 40px;
  color: #8a8a8aa8;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.fa-codepen {
  padding: 0;
  font-size: 40px;
  color: #8a8a8aa8;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.fa-dev:hover {
  color: #afafaf;
}

.fa-github-square:hover {
  color: #afafaf;
}

.fa-codepen:hover {
  color: #afafaf;
}

/* ------------------------------------------------------------------------ */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.width100 {
  width: 100%;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h5 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.fadeIn-bottom {
  top: 80%;
}
